<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    {% load static %}
    <link href="{% static 'css/b.min.css' %}" rel="stylesheet"></head>
<body class="bg-light">

    <div class="container mt-5">
        <nav class="mb-4 d-flex justify-content-end">
            {% if user.is_authenticated %}
                <span class="me-2">👋 {{ user.full_name }}</span>
                <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}" class="btn btn-outline-primary btn-sm me-2">Login</a>
                <a href="{% url 'accounts:register' %}" class="btn btn-outline-success btn-sm">Register</a>
            {% endif %}
        </nav>

        {% block content %}{% endblock %}
    </div>

</body>
</html>
