# محیط مجازی
#venv/
#env/
#.venv/

# دیتابیس
db.sqlite3
*.db

# فایل‌های پایتون
__pycache__/
*.pyc
*.pyo

# فایل‌های محیطی
.env
.env.local

# فایل‌های جنگو
staticfiles/
media/
*.log

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/
.DS_Store
