# main package
Django==6.0.1 
djangorestframework==3.16.1 
Pillow 
python-decouple 

djangorestframework-simplejwt

django-cors-headers==4.4.0
# thirty package
django-filter 
drf-yasg 
djoser 
black 
flake8 
asgiref==3.11.0 
sqlparse==0.5.5 
django-extensions 

# database
psycopg[binary]

#email
django-mail-templated 

gunicorn

pytest
pytest-django
python-dotenv
faker

# cashe bg proccess
celery
Redis
django-celery-beat
# -i https://mirror-pypi.runflare.com/simple
